<p id="notice"><%= notice %></p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>
<p>
  <strong>profile picture:</strong>
  <%= image_tag(@profile.picture_url) %>
</p>

<%= @tweets.each do |tweet|%>
  <%=tweet.message%>
<%end%>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
