<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th colspan="4"></th>

      <!-- change 3 to 4 to add extra column which we just created by adding uppvote link->nandini -->
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= linkify_hashtags(tweet.message) %></td>
        <td><%=tweet.user_id%><td>
        <td><%= tweet.user.email %></td>
        <!-- <td><!-%= link_to "follow", follow_tweet_path(tweet.user_id),method: :put%></td> -->
        <td>
          <% if current_user %>
           <%= link_to like_tweet_path(tweet), method: :put do%>
             <%= current_user.voted_as_when_voted_for(tweet) == true ? icon("heart") : icon("heart-o") %>
           <% end %>
           <% else %>
           <%= icon("heart-o") %>
           <% end %>
        </td>
        <td><%=tweet.score%>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
